<!DOCTYPE html>
<html>
<head>
<%- include ./inc/meta.html -%>
<%- include ./inc/rem.source.html -%>
<title></title>
<link rel="manifest" href="/manifest.json">
<%- include ./inc/stat_code_header.html -%>
</head>

<body>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
<%- include ./inc/stat_code_footer.html -%>
</html>